span {
  border: 2px solid gray;
  height:100%;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  margin: 16px;
  background-color: honeydew;
}
span:hover {
  background-color: lightgrey !important;
  transition: background 200ms ease-in-out;
}
