<h1>Impressum</h1>
<p>Angaben gemäß § 5 TMG</p>
<h2>Diese Website wird angeboten von</h2>
<h4>KEB-Deutschland e. V.</h4>
<p>Am Eichelsberg 3<br /> 35236 Breidenbach</p>
<p>06465 9283-0<br /> 06465 9283-20 (Fax)</p>
<p>
  <a *ngIf="userAgent !== 'bibelquiz-ios-app' && userAgent !== 'bibelquiz-android-app'" href="mailto:info@keb-de.org">info@keb-de.org</a>
  <span *ngIf="userAgent === 'bibelquiz-ios-app' || userAgent === 'bibelquiz-android-app'">info@keb-de.org</span>
</p>

<h2>Missionsleitung:</h2>
<p>Gerd-Walter Buskies<br /> Thomas Helsper<br /> Oliver Klein<br /> &nbsp;</p>
<p><strong>Vorstand i. S. des § 26 BGB:</strong></p>
<p>Gerd-Walter Buskies<br /> Thomas Helsper<br /> &nbsp;</p>
<p><strong>Registergericht und -nummer:</strong></p>
<p>Amtsgericht Marburg VR 2618<br /> &nbsp;</p>
<p><strong>Umsatzsteuer-Identifikationsnummer gemäß § 27a USG:</strong></p>
<p>DE 111476519<br /> &nbsp;</p>
<p><strong>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:</strong></p>
<p>Oliver Klein<br /> &nbsp;</p>
<p><strong>Technisch Verantwortlich:</strong></p>
<p>
  <a *ngIf="userAgent !== 'bibelquiz-ios-app' && userAgent !== 'bibelquiz-android-app'" href="https://webdad.eu" target="_blank">WebDaD.eu</a>
  <span *ngIf="userAgent === 'bibelquiz-ios-app' || userAgent === 'bibelquiz-android-app'">WebDaD.eu</span>
  <br /> &nbsp;
</p>

<h2>Haftungshinweis:</h2>
<p>Für die Inhalte externer Links übernehmen wir keine Verantwortung. Dafür sind ausschließlich deren Betreiber verantwortlich.</p>
