.big-button {
  font-size: xx-large;
  padding: 20px;
  width:90%;
  margin-bottom: 20px;
}
.half-button {
  font-size: xx-large;
  padding: 20px;
  width:45%;
  margin:10px;
}
#status {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  margin-top: 15px;
  font-size: 1.2em;
}
#lives {
  text-shadow: 2px 2px 3px grey;
  color:#a5cd22;
  margin-left: auto;
}
.material-icons {
  font-size: 48px;
}
.mat-icon {
  height: 48px;
  width: 48px;
  transition: all 400ms ease-in-out;
}

#countdown {
  font-size: 8rem;
  color: #9b1430;
}
#result {
  font-size: xx-large;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
  margin: 10px;
}
.right {
  color:green;
  border-color: green !important;
  background-color: greenyellow;
}
.wrong {
  color:red;
  border-color: red !important;
  background-color: lightsalmon;
}
.top {
  position: absolute;
  height:100%;
  width: 100%;
  top:0;
  left:0;
  z-index:120;
}
mat-label {
  color:black;
}