<div *ngIf="state === 'Start'">
  <h2>Wähle deinen Anfangs-Schwierigkeitsgrad:</h2>
  <button mat-raised-button color="primary" class="big-button" (click)="setDifficulty(d)" *ngFor="let d of difficulties">
    {{d.name}}
  </button>
  <p>Fragen in höheren Schwierigkeitsgraden geben mehr Punkte!</p>
  <p>
    <small>Deine Antworten werden anonym zur Verbesserung der Qualität gespeichert.</small>
  </p>
  <!-- TODO: add Button Random -->
</div>
<div *ngIf="state === 'Countdown'">
  <h2 id="countdown">{{countdown}}</h2>
</div>
<div *ngIf="state === 'Game'">
  <table id="status">
    <tr>
      <td id="score" style="text-align: left;">Punkte: {{points}}</td>
      <td id="difficulty" style="text-align: center;" *ngIf="question">{{question.difficulty_name}} (Frage {{questionNumber}} von {{questionsForDifficulty}})</td>
      <td id="lives"  style="text-align: right;">
        <span *ngFor="let l of [].constructor(lives)">
          <mat-icon matRipple >favorite</mat-icon>
        </span>
      </td>
    </tr>
  </table>
  <p *ngIf="question">{{question.question}}</p>
  <p *ngIf="question && !showResult">{{pointsForQuestion}}</p>
  <div *ngIf="showResult || showNextDifficulty || noMoreQuestions" id="result" [ngClass]="{'wrong': result.state=='wrong', 'right': result.state=='right'}">
    {{result.text}}
    <br/>
    <span *ngIf="result.state=='wrong' && question">{{result.correct}}</span>
    <br/>
    <span *ngIf="(result.state=='wrong' || result.state=='right')  && question">{{question.bible}}</span>
    <br/>
    <span *ngIf="result.state=='right'">{{pointsForQuestion}} Punkt{{ pointsForQuestion | plural}}!</span>
    <br/>
    <span *ngIf="showNextDifficulty === true">Keine Fragen mehr im aktuellen Schwierigkeitsgrad!</span>
    <span *ngIf="noMoreQuestions === true">Keine Fragen mehr! Glückwunsch!</span>
    <br/>
    <button *ngIf="showNextDifficulty === true" mat-raised-button color="primary" (click)="nextDifficulty()" style="z-index: 130;">Höhere Schwierigkeit</button>
    <button *ngIf="lives > 0 && showNextDifficulty !== true && noMoreQuestions !== true" mat-raised-button color="primary" (click)="nextQuestion()" style="z-index: 130;">Nächste Frage</button>
    <button *ngIf="lives === 0 || noMoreQuestions === true || showNextDifficulty === true" mat-raised-button color="primary" (click)="gameOver()" style="z-index: 130;">Spiel Vorbei</button>
  </div>
  <div *ngIf="question && !showResult">
    <app-answer *ngFor="let answer of question.answers;"  [answer]="answer.text" [state]="answer.state" (click)="chooseAnswer(answer.id)"></app-answer>
  </div>
</div>

<div *ngIf="state === 'Highscore'">
  <p>Herzlichen Glückwunsch, du hast {{points}} Punkte!</p>
  <p>Möchtest du diese in die Highscore-Liste eintragen?</p>
  <mat-form-field id="nameInput" appearance="standard">
    <mat-label>Name:</mat-label>
    <input type="text" matInput [(ngModel)]="name" autofocus/>
    <mat-hint>Dein richtiger oder besser noch ein ausgedachter Name</mat-hint>
  </mat-form-field>
  <br/>
  <br/>
  <button mat-raised-button color="primary" class="half-button" (click)="inputHighscore()" >
    Eintragen
  </button>
  <button mat-raised-button color="primary" class="half-button" (click)="doNotInputHighscore()" >
    Nein Danke
  </button>
  <p>
    <small>Mit dem Absenden des Highscores mit meinem Namen willige ich ein, dass der Name mit Punktzahl und Zeitstempel in der Datenbank eingetragen wird.</small>
  </p>
</div>
<div *ngIf="state === 'Again'">
  <p *ngIf="entry === true">Danke für deinen Eintrag!</p>
  <p *ngIf="entry === false">&nbsp;</p>
  <button mat-raised-button color="primary" class="big-button" (click)="playAgain()" >
    Nochmal Spielen!
  </button>
  <br/>
  <button mat-raised-button color="primary" [routerLink]="['/highscores']" class="start-button">Highscores</button>
</div>
