<div *ngIf="state === 'Start'">
  <h2>Wähle deinen Anfangs-Schwierigkeitsgrad:</h2>
  <button mat-raised-button color="primary" class="big-button" (click)="setDifficulty(d)" *ngFor="let d of difficulties">
    {{d.name}}
  </button>
  <p>Frage in höheren Schwierigkeitsgraden geben mehr Punkte!</p>
  <!-- TODO: add Button Random -->
</div>
<div *ngIf="state === 'Countdown'">
  <h2 id="countdown">{{countdown}}</h2>
</div>
<div *ngIf="state === 'Game'">
  <table id="status">
    <tr>
      <td id="score" style="text-align: left;">Punkte: {{points}}</td>
      <td id="difficulty" style="text-align: center;">{{question.difficulty_name}}</td>
      <td id="lives"  style="text-align: right;">
        <span *ngFor="let l of [].constructor(lives)">
          <mat-icon matRipple >favorite</mat-icon>
        </span>
      </td>
    </tr>
  </table>
  <p>{{question.question}}</p>
  <p>{{pointsForQuestion}}</p>
  <app-answer [answer]="question.answer_1" [state]="answerState.answer_1" (click)="chooseAnswer(1)"></app-answer>
  <app-answer [answer]="question.answer_2" [state]="answerState.answer_2" (click)="chooseAnswer(2)"></app-answer>
  <app-answer [answer]="question.answer_3" [state]="answerState.answer_3" (click)="chooseAnswer(3)"></app-answer>
  <app-answer [answer]="question.answer_4" [state]="answerState.answer_4" (click)="chooseAnswer(4)"></app-answer>
</div>
<div *ngIf="showResult" id="result" [ngClass]="{'wrong': result.state=='wrong', 'right': result.state=='right'}">
  {{result.text}}
  <br/>
  <span *ngIf="result.state=='wrong'">{{question.bible}}</span>
  <span *ngIf="result.state=='right'">{{pointsForQuestion}} Punkte!</span>
  <br/>
  <button mat-raised-button color="primary" (click)="nextQuestion()" style="z-index: 130;">Nächste Frage</button>
</div>
<div *ngIf="state === 'Highscore'">
  <p>Herzlichen Glückwunsch, du hast {{points}} Punkte!</p>
  <p>Möchtest du diese in die Highscore-Liste eintragen?</p>
  <mat-form-field id="nameInput" appearance="legacy">
    <mat-label>Dein Name:</mat-label>
    <input matInput placeholder="Dein Name" [(ngModel)]="name"/>
  </mat-form-field>
  <br/>
  <button mat-raised-button color="primary" class="half-button" (click)="inputHighscore()" >
    Eintragen
  </button>
  <button mat-raised-button color="primary" class="half-button" (click)="doNotInputHighscore()" >
    Nein Danke
  </button>
</div>
<div *ngIf="state === 'Again'">
  <p *ngIf="entry === true">Danke für deinen Eintrag!</p>
  <p *ngIf="entry === false">&nbsp;</p>
  <button mat-raised-button color="primary" class="big-button" [routerLink]="['/spiel']" >
    Nochmal Spielen!
  </button>
  <br/>
  <button mat-raised-button color="primary" [routerLink]="['/highscores']" class="start-button">Highscores</button>
</div>
