<div fxLayout="column" fxFlexFill id="content">
  <mat-toolbar color="primary">
    <img src="assets/images/logo_bibelquiz_auf_rot.png" alt="Logo" class="logo" [routerLink]="['/welcome']"/>
    <span class="spaced" [routerLink]="['/welcome']" id="mainlink">KEB BibelQuiz</span>
  </mat-toolbar>
  <main fxFlex>
      <router-outlet></router-outlet>
  </main>
  <div id="settings">
    <button mat-mini-fab color="accent" aria-label="Mute or unMute all Sounds" (click)="mute()">
      <mat-icon *ngIf="muted === true">music_off</mat-icon>
      <mat-icon *ngIf="muted === false">music_note</mat-icon>
    </button>
  </div>
  <footer>
    <a mat-button [routerLink]="['/impressum']">
      Impressum
    </a>
    <span class="spaced">|</span>
    <a mat-button [routerLink]="['/datenschutz']">
      Datenschutz
    </a>
    <span class="spaced">|</span> 
    <a mat-button href="https://www.keb-de.org/" target="_blank">
      KEB-Deutschland e.V.
    </a>
    <span class="spaced">|</span> 
    <a mat-button href="https://webdad.eu" target="_blank">
      WebDaD
    </a>
    <span class="spaced">|</span> 
    <a mat-button href="https://github.com/KEB-Deutschland-e-V" target="_blank">
      SourceCode
    </a>
    <span class="spaced">|</span> 
    <span class="mat-button">Version: {{version}}</span>
  </footer> 
</div>