<h1>Willkommen bei <strong>"Die Bibel-Quiz-App"</strong>.</h1>
<p>Wir wünschen Dir viel Freude beim Quizzen zu Fragen rund um die Bibel.</p>
<button mat-raised-button color="primary" [routerLink]="['/spiel']" class="start-button">Los Gehts!</button>
<h2>Was ist das?</h2>
<p>
  Die <strong>"Die Bibel-Quiz-App"</strong> möchte auf spielerische Art und Weise Gelegenheit bieten sich mit den Inhalten der Bibel auseinanderzusetzen. 
  Man kann altes Wissen auffrischen und hoffentlich Neues dazulernen.
</p>
<p>
  Außerdem will die App anregen selbst die Bibel aufzuschlagen und Antworten zu überprüfen oder 
  – wie die Bibel auch genannt wird – im „Wort Gottes“ regelmäßig zu lesen.
</p>
<p>
  Das Quiz funktioniert ganz einfach. Du wählst dir einen Schwierigkeitsgrad und erhältst dazu entsprechende Fragen. 
  Dafür bekommst du jeweils vier Antwortmöglichkeiten, wobei nur eine richtig ist. 
  Wenn eine Antwort falsch beantwortet ist, verlierst du eines von insgesamt 3 "Leben" <mat-icon matRipple >favorite</mat-icon>. 
  Punkte erhältst du für die jeweils richtige Antwort und die Geschwindigkeit, mit der du antwortest. 
  Am Ende hast du die Möglichkeit dich – freiwillig – mit deinem Pseudonym in eine Highscoreliste einzutragen.
</p>
<h2>Von wem ist das?</h2>

<p>
  Die <strong>"Die Bibel-Quiz-App"</strong> wird von <a href="https://www.keb-de.org/" target="_blank">KEB-Deutschland e.V. (Kinder entdecken die Bibel)</a> verantwortet und herausgegeben. 
  Leiter dieses Projekts ist Lars Göhl, Regionalbüroleiter in München.
</p>
<p>
  KEB ist ein überkonfessionelles christliches Missionswerk, welches sich auf die Verkündigung des Evangeliums für Kinder und Jugendliche spezialisiert hat. 
  KEB ist an keine Kirche, Gemeinde oder sonstige Institution gebunden. 
  Die Arbeit wird von freiwilligen Spenden aus ganz Deutschland getragen. 
  Als gemeinnützig anerkannter Verein ist KEB-Deutschland e.V. entsprechend berechtigt Spendenbescheinigungen auszustellen.
</p>
<p>
  Die <strong>"Die Bibel-Quiz-App"</strong> befindet sich in aktiver Entwicklung und ist noch nicht final veröffentlicht.
</p>
