<h1>Willkommen bei <strong>"Das Bibel Quiz"</strong>.</h1>
<p>Wir wünschen Dir viel Freude beim Quizzen zu Fragen rund um die Bibel.</p>
<button mat-raised-button color="primary" [routerLink]="['/spiel']" class="start-button">Los Gehts!</button>
<br/>
<a class="appstore-link" *ngIf="userAgent !== 'bibelquiz-ios-app' && userAgent !== 'bibelquiz-android-app'" href="https://apple.co/3yKCz4Q" target="_blank">
  <img src="assets/images/link-badge-appstore.svg" alt="Laden im App Store">
</a>
<a class="appstore-link" *ngIf="userAgent !== 'bibelquiz-ios-app' && userAgent !== 'bibelquiz-android-app'" href='https://play.google.com/store/apps/details?id=eu.webdad.dasbibelquiz&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
  <img alt='Jetzt bei Google Play' src='assets/images/google-play-badge.png'/>
</a>
<br/>
<img id="boy" src="assets/images/junge_mit_bibel.png" alt="Junge mit Bibel und Fragezeichen">
