<h1>HighScores {{filterName}}</h1>
<button mat-raised-button color="primary" [routerLink]="['/spiel']" class="start-button">Spielen!</button>
<br/>
<mat-slide-toggle [checked]="onlyMyScores" color="primary" (change)="showOnlyMyScores()">Nur meine Scores anzeigen</mat-slide-toggle>
<br/>
<mat-button-toggle-group name="filter" aria-label="Filter" [ngModel]="filter" (ngModelChange)="setFilter($event)">
  <mat-button-toggle value="all">Alle</mat-button-toggle>
  <mat-button-toggle value="year">Jahr</mat-button-toggle>
  <mat-button-toggle value="month">Monat</mat-button-toggle>
  <mat-button-toggle value="week" selected>Woche</mat-button-toggle>
</mat-button-toggle-group>
<div id="loading" *ngIf="loading"></div>
<br/>
<mat-list style="margin-bottom: 20px;">
  <mat-list-item *ngFor="let score of highscores; index as i" [class.my-score] = "score.username === name">
    <strong>{{i+1}}</strong>
    {{score.username}}
    <span class="date">{{score.date | date:'dd.MM.yyyy'}}</span>
    <em>{{score.score}}</em>
  </mat-list-item>
</mat-list>
<button mat-raised-button color="primary" [routerLink]="['/spiel']" class="start-button" *ngIf="!loading">Spielen!</button>
