<h1>HighScores</h1>
<button mat-raised-button color="primary" [routerLink]="['/spiel']" class="start-button">Spielen!</button>
<br/>
<div id="loading" *ngIf="loading"></div>
<br/>
<mat-list>
  <mat-list-item *ngFor="let score of highscores; index as i">
    <strong>{{i+1}}</strong>
    {{score.username}}
    <span class="date">{{score.date | date:'dd.MM.yyyy'}}</span>
    <em>{{score.score}}</em>
  </mat-list-item>
</mat-list>
<button mat-raised-button color="primary" [routerLink]="['/spiel']" class="start-button" *ngIf="!loading">Spielen!</button>
