.mat-list-base .mat-list-item {
  color: black;
  font-size: 1.2em;
  border-bottom: 1px solid gray;
  align-items: inherit;
}
mat-list mat-list-item:last-child {
  border-bottom: none !important;
}
strong {
  color: #9b1430;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 10px;
}
em {
  margin-left: auto;
}
.date {
  font-size: 0.6em;
  margin-left: 10px;
  align-self: center;
  color: #656565;
}

.start-button {
  font-size: xx-large;
  padding: 20px;
}

#loading {
  display: inline-block;
  margin: 20px;
  width: 50px;
  height: 50px;
  border: 8px solid #9b1430;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.my-score {
  background-color: #f57f0b;
}
mat-button-toggle-group,
mat-slide-toggle {
  margin: 10px;
}