<h1>Datenschutzerklärung für Kinder</h1>
<p>
  Schön, dass Du Dich für unsere Webseite interessierst. 
  Wir möchten Dir einen Einblick geben, was bei einem Besuch auf unseren Webseiten im Hintergrund passiert. 
  Wenn Du unsere Webseite aufrufst, sendet Dein Computer an uns automatisch seine IP-Adresse. 
  Ähnlich wie bei einer Telefonnummer ist auch die IP-Adresse einmalig, nur führt sie nicht zu Deinem Telefon, sondern zu Deinem Computer. 
  Man spricht davon, dass "Daten" an uns gesendet werden. Unter dem Begriff "Daten" versteht man alles was man von Dir persönlich wissen kann. 
  Das ist zum Beispiel Dein Vor- und Nachname, Deine Wohnadresse, Dein Geburtsdatum, Deine Krankheiten (zum Beispiel auch Allergien) und eben diese IP-Adresse. Wir nutzen die IP-Adresse, damit wir wissen an welchen Computer wir die Texte, Bilder und Videos der Webseite zurückschicken müssen. 
  Ohne sie könntest Du auch diesen Text hier nicht lesen.
  Wenn du das Quiz abgeschlossen hast, kannst du auch einen Spitznamen hinterlegen.
</p>
<p>
  <strong>Warum erklären wir Dir das?</strong> 
</p>
<p>
  Deine persönlichen Daten dürfen bei uns nur gespeichert werden, wenn Du uns das erlaubst. Die IP-Adresse müssen wir aber immer - auch ohne Deiner Erlaubnis - für eine begrenzte Zeit (60 Tage) speichern, damit wir prüfen können, wer unsere Seiten besucht. Manchmal gibt es Besucher, die uns Schaden zufügen wollen, mit der IP-Adresse können wir das dann der Polizei melden. Wenn Du Fragen zu Deinen gespeicherten Daten bei uns hast, dann schreibe uns doch eine E-Mail. Auskunft über Deine Daten können wir natürlich nur geben, wenn Du nachweist, dass Du die Informationen auch haben darfst - sonst könnte ja jeder kommen und Deine Daten abfragen. Du kannst die Daten bei uns dann ändern oder auch löschen lassen. Ebenso hast Du das Recht zu sagen, dass wir die Daten nicht mehr nutzen dürfen – wir müssen sie dann löschen.
</p>
<p>
  Wie Du hoffentlich siehst, sind uns Deine Daten sehr wichtig. 
  <a *ngIf="userAgent !== 'bibelquiz-ios-app' && userAgent !== 'bibelquiz-android-app'" href="https://www.keb-de.org/index.php?id=24" target="_blank">Schreibe uns bitte auch, wenn Du Fragen hast.</a>
  <span *ngIf="userAgent === 'bibelquiz-ios-app' || userAgent === 'bibelquiz-android-app'">Schreibe uns bitte auch, wenn Du Fragen hast.</span>

</p>
<hr/>
<h1>Datenschutzerklärung (Langform)</h1>
<h2 id="inhalt">Inhaltsangabe</h2>
<ol>
  <li><a href="datenschutz#aufeinenblick" target="_top">Datenschutz auf einen Blick</a></li>
  <li><a href="datenschutz#hosting" target="_top">Hosting und Content Delivery Networks (CDN)</a></li>
  <li><a href="datenschutz#allgemeines" target="_top">Allgemeine Hinweise und Pflichtinformationen</a></li>
  <li><a href="datenschutz#datenerfassung" target="_top">Datenerfassung auf dieser Website</a></li>
</ol>



<h2 id="aufeinenblick">1. Datenschutz auf einen Blick</h2>
<h3>Allgemeine Hinweise</h3>
<p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit deinen personenbezogenen Daten passiert, wenn Du diese Website besuchst. Personenbezogene Daten sind alle Daten, mit denen Du persönlich identifiziert werden kannst. Ausführliche Informationen zum Thema Datenschutz kannst Du unseren unter diesem Text aufgeführten Datenschutzhinweisen entnehmen.</p>
<h3>Datenerfassung auf dieser Website</h3>
<p><strong>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</strong></p>
<p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten kannst Du dem Impressum dieser Website entnehmen.</p>
<h3>Antworten und Highscores</h3>
<p>Deine Antworten zu den Fragen werden mit der Frage Anonym zur Verbesserung der Fragen gespeichert.</p>
<p>Du kannst Deinen Namen oder einen selbst festgelegten Namen ("Nickname") angeben, um einen Highscore einzutragen. Name und Highscore sind frei einsehbar.</p>
<p>Du kannst Deinen Namen lokal in einem Cookie speichern.</p>
<p><strong>Wie erfassen wir Deine Daten?</strong></p>
<p>Deine Daten werden zum einen dadurch erhoben, dass Du uns diese mitteilst. Hierbei kann es sich z. B. um Daten handeln, die Du in ein Kontaktformular eingeben hast.</p>
<p>Andere Daten werden automatisch oder nach Deiner Einwilligung beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Du diese Website betrittst.</p>
<p><strong>Wofür nutzen wir Deine Daten?</strong></p>
<p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere Daten können zur Analyse Deines Nutzerverhaltens verwendet werden.</p>
<p><strong>Welche Rechte hast Du bezüglich Deiner Daten?</strong></p>
<p>Du hast jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Deiner gespeicherten personenbezogenen Daten zu erhalten. Du hast außerdem ein Recht, die Berichtigung oder Löschung dieser Daten zu verlangen. Wenn Du eine Einwilligung zur Datenverarbeitung erteilt hast, kannst Du diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem hast Du das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Deiner personenbezogenen Daten zu verlangen. Des Weiteren steht Dir ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.</p>
<p>Hierzu sowie zu weiteren Fragen zum Thema Datenschutz kannst Du dich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. | <a href="#inhalt">zurück zur Inhaltsangabe</a></p>
<hr/>

<h2 id="hosting">2. Hosting und Content Delivery Networks (CDN)</h2>
<h3>Externes Hosting</h3>
<p>Diese Website wird bei einem externen Dienstleister gehostet (Hoster). Die personenbezogenen Daten, die auf dieser Website erfasst werden, werden auf den Servern des Hosters gespeichert. Hierbei kann es sich v. a. um IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten, Kontaktdaten, Namen, Webseitenzugriffe und sonstige Daten, die über eine Website generiert werden, handeln.</p>
<p>Der Einsatz des Hosters erfolgt zum Zwecke der Vertragserfüllung gegenüber unseren potenziellen und bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren, schnellen und effizienten Bereitstellung unseres Online-Angebots durch einen professionellen Anbieter (Art. 6 Abs. 1 lit. f DSGVO).</p>
<p>Unser Hoster wird Deine Daten nur insoweit verarbeiten, wie dies zur Erfüllung seiner Leistungspflichten erforderlich ist und unsere Weisungen in Bezug auf diese Daten befolgen.</p>
<p><strong>Abschluss eines Vertrages über Auftragsverarbeitung</strong></p>
<p>Um die datenschutzkonforme Verarbeitung zu gewährleisten, haben wir einen Vertrag über Auftragsverarbeitung mit unserem Hoster geschlossen. | <a href="#inhalt">zurück zur Inhaltsangabe</a></p>
<hr/>

<h2 id="allgemeines">3. Allgemeine Hinweise und Pflichtinformationen</h2>
<h3>Datenschutz</h3>
<p>Die Betreiber dieser Seiten nehmen den Schutz Deiner persönlichen Daten sehr ernst. Wir behandeln Deine personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>
<p>Wenn Du diese Website benutzt, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Du persönlich identifiziert werden kannst. Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.</p>
<p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>
<h3>Hinweis zur verantwortlichen Stelle</h3>
<p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
<p>KEB-Deutschland e. V.<br> <br> Am Eichelsberg 3<br> 35236 Breidenbach</p>
<p>Telefon: 06465 9283-0<br> E-Mail: info(at)keb-de.org</p>
<p>Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z. B. Namen, E-Mail-Adressen o. Ä.) entscheidet.</p>
<h3>Gesetzlich vorgeschriebener Datenschutzbeauftragter</h3>
<p>Wir haben für unser Unternehmen einen Datenschutzbeauftragten bestellt.</p>
<p>Andreas Steuer</p>
<p>Telefon: 0561 / 93 875 14<br> E-Mail: a.steuer@netzwerk-m.de</p>
<h3>Widerruf Deiner Einwilligung zur Datenverarbeitung</h3>
<p>Viele Datenverarbeitungsvorgänge sind nur mit Deiner ausdrücklichen Einwilligung möglich. Du kannst eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.</p>
<h3>Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung (Art. 21 DSGVO)</h3>
<p>WENN DIE DATENVERARBEITUNG AUF GRUNDLAGE VON ART. 6 ABS. 1 LIT. E ODER F DSGVO ERFOLGT, HAST DU JEDERZEIT DAS RECHT, AUS GRÜNDEN, DIE SICH AUS DEINER BESONDEREN SITUATION ERGEBEN, GEGEN DIE VERARBEITUNG DEINER PERSONENBEZOGENEN DATEN WIDERSPRUCH EINZULEGEN; DIES GILT AUCH FÜR EIN AUF DIESE BESTIMMUNGEN GESTÜTZTES PROFILING. DIE JEWEILIGE RECHTSGRUNDLAGE, AUF DENEN EINE VERARBEITUNG BERUHT, KANNST DU DIESEN DATENSCHUTZHINWEISEN ENTNEHMEN. WENN DU WIDERSPRUCH EINLEGST, WERDEN WIR DEINE BETROFFENEN PERSONENBEZOGENEN DATEN NICHT MEHR VERARBEITEN, ES SEI DENN, WIR KÖNNEN ZWINGENDE SCHUTZWÜRDIGE GRÜNDE FÜR DIE VERARBEITUNG NACHWEISEN, DIE DEINE INTERESSEN, RECHTE UND FREIHEITEN ÜBERWIEGEN ODER DIE VERARBEITUNG DIENT DER GELTENDMACHUNG, AUSÜBUNG ODER VERTEIDIGUNG VON RECHTSANSPRÜCHEN (WIDERSPRUCH NACH ART. 21 ABS. 1 DSGVO).</p>
<p>WERDEN DEINE PERSONENBEZOGENEN DATEN VERARBEITET, UM DIREKTWERBUNG ZU BETREIBEN, SO HAST DU DAS RECHT, JEDERZEIT WIDERSPRUCH GEGEN DIE VERARBEITUNG DICH BETREFFENDER PERSONENBEZOGENER DATEN ZUM ZWECKE DERARTIGER WERBUNG EINZULEGEN; DIES GILT AUCH FÜR DAS PROFILING, SOWEIT ES MIT SOLCHER DIREKTWERBUNG IN VERBINDUNG STEHT. WENN DU WIDERSPRICHST, WERDEN DEINE PERSONENBEZOGENEN DATEN ANSCHLIESSEND NICHT MEHR ZUM ZWECKE DER DIREKTWERBUNG VERWENDET (WIDERSPRUCH NACH ART. 21 ABS. 2 DSGVO).</p>
<h3>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
<p>Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat deines gewöhnlichen Aufenthalts, deines Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.</p>
<h3>Recht auf Datenübertragbarkeit</h3>
<p>Du hast das Recht, Daten, die wir auf Grundlage Deiner Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, an dich oder an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen. Sofern Du die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangst, erfolgt dies nur, soweit es technisch machbar ist.</p>
<h3>SSL- bzw. TLS-Verschlüsselung</h3>
<p>Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Du an uns als Seitenbetreiber sendest, eine SSL- bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennst Du daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Deiner Browserzeile.</p>
<p>Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Du an uns übermittelst, nicht von Dritten mitgelesen werden.</p>
<h3>Auskunft, Löschung und Berichtigung</h3>
<p>Du hast im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über Deine gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten kannst Du dich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>
<h3>Recht auf Einschränkung der Verarbeitung</h3>
<p>Du hast das Recht, die Einschränkung der Verarbeitung Deiner personenbezogenen Daten zu verlangen. Hierzu kannst Du dich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Das Recht auf Einschränkung der Verarbeitung besteht in folgenden Fällen:</p>
<ul> 	
  <li>Wenn Du die Richtigkeit Deiner bei uns gespeicherten personenbezogenen Daten bestreitest, benötigen wir in der Regel Zeit, um dies zu überprüfen. Für die Dauer der Prüfung hast Du das Recht, die Einschränkung der Verarbeitung Deiner personenbezogenen Daten zu verlangen.</li> 	
  <li>Wenn die Verarbeitung Deiner personenbezogenen Daten unrechtmäßig geschah/geschieht, kannst Du statt der Löschung die Einschränkung der Datenverarbeitung verlangen.</li> 	
  <li>Wenn wir Deine personenbezogenen Daten nicht mehr benötigen, Du sie jedoch zur Ausübung, Verteidigung oder Geltendmachung von Rechtsansprüchen benötigst, hast Du das Recht, statt der Löschung die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.</li> 	
  <li>Wenn Du einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt hast, muss eine Abwägung zwischen Deinen und unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen Interessen überwiegen, hast Du das Recht, die Einschränkung der Verarbeitung Deiner personenbezogenen Daten zu verlangen.</li> 
</ul>
<p>Wenn Du die Verarbeitung Deiner personenbezogenen Daten eingeschränkt hast, dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Deiner Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Europäischen Union oder eines Mitgliedstaats verarbeitet werden.</p>
<h3>Widerspruch gegen Werbe-E-Mails</h3>
<p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor. | <a href="#inhalt">zurück zur Inhaltsangabe</a></p>
<hr/>
      
<h2 id="datenerfassung">4. Datenerfassung auf dieser Website</h2>
<h3>Cookies</h3>
<p>Unsere Internetseiten verwenden so genannte „Cookies“. Cookies sind kleine Textdateien und richten auf Deinem Endgerät keinen Schaden an. Sie werden entweder vorübergehend für die Dauer einer Sitzung (Session-Cookies) oder dauerhaft (permanente Cookies) auf Deinem Endgerät gespeichert. Session-Cookies werden nach Ende Deines Besuchs automatisch gelöscht. Permanente Cookies bleiben auf Deinem Endgerät gespeichert, bis Du diese selbst löschst oder eine automatische Lösung durch Deinen Webbrowser erfolgt.</p>
<p>Cookies haben verschiedene Funktionen. Zahlreiche Cookies sind technisch notwendig, da bestimmte Webseitenfunktionen ohne diese nicht funktionieren würden (z.B. die Warenkorbfunktion oder die Anzeige von Videos). Andere Cookies dienen dazu, das Nutzerverhalten auszuwerten oder Werbung anzuzeigen.</p>
<p>Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs (notwendige Cookies) oder zur Bereitstellung bestimmter, von Dir erwünschter Funktionen (funktionale Cookies, z. B. für die Warenkorbfunktion) oder zur Optimierung der Webseite (z.B. Cookies zur Messung des Webpublikums) erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert, sofern keine andere Rechtsgrundlage angegeben wird. Der Websitebetreiber hat ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. Sofern eine Einwilligung zur Speicherung von Cookies abgefragt wurde, erfolgt die Speicherung der betreffenden Cookies ausschließlich auf Grundlage dieser Einwilligung (Art. 6 Abs. 1 lit. a DSGVO); die Einwilligung ist jederzeit widerrufbar.</p>
<p>Es werden keine technischen Cookies verwendet.</p>
<p>Folgende funktionale Cookies werden verwendet:</p>
<ul>
  <li>Name: Der Name, denn du als Nickname eingegeben hast, wird als Cookie gespeichert, damit du nicht jedesmal den Namen neu eingeben musst.</li>
</ul>
<p>Du kannst Deinen Browser so einstellen, dass Du über das Setzen von Cookies informiert wirst und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.</p>
<h3>Server-Log-Dateien</h3>
<p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien, die Dein Browser automatisch an uns übermittelt. Dies sind:</p>
<ul> 	
  <li>Browsertyp und Browserversion</li> 	
  <li>verwendetes Betriebssystem</li> 	
  <li>Referrer URL</li> 	
  <li>Hostname des zugreifenden Rechners</li> 	
  <li>Uhrzeit der Serveranfrage</li> 	
  <li>IP-Adresse</li> 
</ul>
<p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</p>
<p>Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner Website – hierzu müssen die Server-Log-Files erfasst werden.</p>
<h3>Anfrage per E-Mail, Telefon oder Telefax</h3>
<p>Wenn Du uns per E-Mail, Telefon, Chat oder Telefax kontaktierst, wird Deine Anfrage inklusive aller daraus hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der Bearbeitung Deines Anliegens bei uns gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Deine Einwilligung weiter.</p>
<p>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Deine Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf unserem berechtigten Interesse an der effektiven Bearbeitung der an uns gerichteten Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Deinr Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) sofern diese abgefragt wurde.</p>
<p>Die von Dir an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Du uns zur Löschung aufforderst, Deine Einwilligung zur Speicherung widerrufst oder der Zweck für die Datenspeicherung entfällt (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen – bleiben unberührt.</p>
<h3>Antworten und Highscores</h3>
<p>Deine Antworten zu den Fragen werden mit der Frage Anonym zur Verbesserung der Fragen gespeichert.</p>
<p>Du kannst Deinen Namen oder einen Nicknamen angeben, um einen Highscore einzutragen. Name und Highscore sind frei einsehbar.</p>